*{
    margin: 0;
    padding: 0;
}

.playground{
    height: 500px;
    width: 500px;
    display: inline-block;
    background-color: red;
}

img{
    width: 100px;
    position: sticky;
    top: 100px;
    bottom: 100px;


}
