* {
    font-family: 'Antonio', sans-serif;
    color:ghostwhite;
}

.searchtext{
    color: black;
}
body {
    background-color: black;
    padding: 20px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

/* .navleft{
    width: 40%;
} */

.navright{
     display:flex;
     text-align: center;
     justify-content: flex-end;
     align-items:center;
     gap: 10px;  
}

.searchicon{
    width: 60px;
    border-radius: 50%;
}

.triangle{
    height: 0px;
    width: 0px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid white;
}

ul{
    width: 100%;
    display: flex: ;
    justify-content: space-evenly;
    align-items: center;

}

ul :nth-child(1){
    color: red;
    font-size:xx-large;
}
ul :nth-child(1):hover{
    color: red;
}

li{
    display: inline-block;
    color: rgb(166, 166, 166);
}

li:hover{
    color: white;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.anime{
    width: 200px;
    height: 200px;
}

.anime > img{
    width: 100%;
    height: 125px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr repeat(5,auto);
    gap: 20px;
    justify-content: center;
    
}

