.nav{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    padding: 20px;
    background-color: grey;
}
.nav-title{

}

.nav-links{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 20;
}

.active{

}

.btn{

}